.nav-link {
  padding: 10px;
  font-size: 25px;
  color: var(--detail-font-color);
  text-decoration: none;
  margin-right: 20px;
}

.nav-button {
  padding: 10px;
  font-size: 25px;
  color: var(--detail-font-color);
  background: var(--detail-color);
  border-style: none;
  text-decoration: none;
}
/* .nav-intro {
  margin-right: 70%;
} */

.memo-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

/* @media (max-width: 1400px) {
  .nav-intro {
    margin-right: 60%;
  }
}

@media (max-width: 1200px) {
  .nav-intro {
    margin-right: 50%;
  }
}

@media (max-width: 700px) {
  .nav-intro {
    margin-right: 50%;
  }
} */
